<link href="css/estilos-log.css" rel="stylesheet" type="text/css" media="all" />

  <meta charset="utf-8">
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <div id="header">
    <div>
      <a ui-sref="inicio"><img class="logo" src="images/logoArgenta.png" width="513" height="84" alt="" title=""></a>
      <a ui-sref="inicio"><img  src="images/800px-Eq_it-na_pizza-margherita_sep2005_sml-2.png" width="332" height="205" alt="" title=""></a>
      <div ng-if="user.rol == 'ADMINISTRADOR'">
      <ul class="navigation">
          <li><a ui-sref="menu.ABM">Alta Usuario</a></li>
          <li><a ui-sref="menu.AltaLocal">Alta Local</a></li>
           <li><a ui-sref="menu.Grillas">Grilla Usuarios</a></li>
           <li><a ui-sref="menu.GrillaLocal" >Grilla Locales</a></li>
        <li><a ng-click="Deslogueo()" >Desloguear</a></li>
      </div>
      <div ng-if="user.rol == 'EMPLEADO'">
 <ul class="navigation">  <ul>
    <li><a ui-sref="menu.Registro">Alta Cliente</a></li>
    <li><a ui-sref="menu.AltaProducto">Alta Producto</a></li>
    <li><a ui-sref="menu.AltaPromocion">Alta Promocion</a></li>
    <li><a ui-sref="menu.altaPedidos">Alta Pedido</a></li>
        <li><a ui-sref="menu.Grillas">Grilla Clientes </a></li>
    <li><a ui-sref="menu.grillaPedidos" >Grilla Pedidos</a></li>
    <li><a ng-Click="Deslogueo()">Desloguearse</a></li

  </ul>
    </div>
    <div ng-if="user.rol == 'ENCARGADO'" >
 <ul class="navigation">  <ul>
    <li><a ui-sref="menu.Registro">Alta Cliente y Empleados</a></li>
    <li><a ui-sref="menu.AltaProducto">Alta Producto</a></li>
    <li><a ui-sref="menu.AltaPromocion">Alta Promocion</a></li>
    <li><a ui-sref="menu.altaPedidos">Alta Pedido</a></li>
    <li><a ui-sref="menu.Grillas">Grilla Clientes y Empleados</a></li>
    <li><a ng-Click="Deslogueo()">Desloguearse</a></li>
</div>
    <br>
    <br>

<div>
 <div ui-grid="gridOptions" class="myGrid"
    ui-grid-pagination
    ui-grid-resize-columns
    ui-grid-cellNav 
    ui-grid-edit 
    ui-grid-row-edit
  >
</div>
